<body>
  <h1>Anila Shehu</h1>
  <p>About me: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi impedit pariatur eaque id facilis aut iste similique ea officia quis quidem rem, deleniti, reprehenderit cumque. Molestiae beatae sequi distinctio?</p>

  <div>
    <h3>Activiteit 1</h3>
  </div>

  <div>
    <h3>Activiteit 2</h3>
  </div>

  <div>
    <h3>Activiteit 3</h3>
  </div>

  <div>
    <h2>Eindreflectie</h2>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quo deserunt ratione, sint unde esse quam delectus vero culpa inventore suscipit eius harum qui error quas, iusto reiciendis repellat laudantium.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quo deserunt ratione, sint unde esse quam delectus vero culpa inventore suscipit eius harum qui error quas, iusto reiciendis repellat laudantium.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quo deserunt ratione, sint unde esse quam delectus vero culpa inventore suscipit eius harum qui error quas, iusto reiciendis repellat laudantium.</p>
</body>